# Database Configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=ecostore
DB_USER=root
DB_PASS=

# Cấu hình đường dẫn gốc của website (Lưu ý dấu / ở cuối)
BASE_URL=http://localhost/MY_WEB/public/

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_REDIRECT_URI=http://localhost/MY_WEB/public/auth/googleCallback

# Cấu hình gửi mail (PHPMailer - SMTP)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password_here